html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slide-image,
.other-images {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}
.other-images img {
  border-radius: 5px;
}
@media (min-width: 600px) {
  .slide-image,
  .other-images {
    height: 390px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.main-logo {
  width: 30%;
  height: 120px;
}
