:root {
  --form-font-color: #1f1f1f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slide-image,
.other-images {
  position: relative;
  height: 280px;
  margin: 0 auto;
}
.slide-image {
  width: 100%;
}
.other-images {
  width: 100%;
  height: 240px;
}
.gommir-image {
  position: relative;
  width: 80%;
  height: 240px;
}

.other-images img {
  border-radius: 5px;
}
.gommir-image img {
  border-radius: 5px;
}
@media (min-width: 600px) {
  .slide-image,
  .other-images {
    height: 460px;
  }
  .gommir-image {
    height: 420px;
  }
}
@media (min-width: 980px) {
  .slide-image {
    height: 620px;
  }
  .other-images {
    height: 340px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.main-logo {
  width: 30%;
  height: 220px;
}
.logo-header {
  height: 60px;
  width: 60px;
}

.contact-container {
  background-color: #eeeeee;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: #dfdfdfd5;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 10px;
  margin-bottom: 50px;
  box-shadow: 0 -5px 15px #9797975f;
}
.contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  align-items: flex-start;
  padding-bottom: 20px;
}
.contact-container h1 {
  color: #000823;
  opacity: 87%;
}
.contact-container label {
  color: #000823;
  margin: 5px;
  font-size: 16px;
}
.contact-container input,
.contact-container textarea {
  background-color: white;
  color: var(--form-font-color);
  width: 100%;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
.contact-container input {
  height: 30px;
}

.contact-container input:focus,
.contact-container textarea:focus {
  background-color: #000a36db;
  color: #e6e6e6;
}

.contact-container .btn {
  color: #eaeaea;
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  width: 50%;
  margin-top: 15px;
  border: none;
  background: linear-gradient(90deg, #5cb790 0%, #100230 100%);
}
.emailSended {
  background-color: #08640e;
  position: relative;
  width: 45%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 15px;
  color: var(--form-font-color);
}
.emailSended p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.map-container {
  width: 100%;
  border-radius: 5px;
}
.enviado {
  position: absolute;
  background: linear-gradient(90deg, #5cb790 0%, #100230 100%);
  color: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  padding: 10px;
  bottom: 30px;
}
@media screen and (min-width: 540px) {
  .contact-container {
    width: 65%;
    padding: 30px;
    padding-top: 10px;
  }
  .other-images {
    height: 250px;
  }
}
@media screen and (min-width: 900px) {
  .contact-container {
    width: 50%;
    padding: 30px;
    padding-top: 10px;
  }
}
